.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: larger;
  border: 2px solid black;
  margin: 5px;
}

.reset:active {
  background-color: #999;
}

.complete {
  background-color: rgb(186, 205, 240);
}

.complete:active {
  background-color: rgb(133, 159, 207);
}